@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex), sans-serif;
  --font-audiowide: var(--font-audiowide), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.audiowide-regular {
  font-family: var(--font-audiowide), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-arabic-thin {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-arabic-extralight {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-arabic-light {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-arabic-regular {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-arabic-medium {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-arabic-semibold {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-arabic-bold {
  font-family: var(--font-ibm-plex), sans-serif;
  font-weight: 700;
  font-style: normal;
}
